@import "tailwindcss";

:root {
  --background: #0a1929;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dancing: var(--font-dancing);
  --font-caveat: var(--font-caveat);
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.font-dancing {
  font-family: var(--font-dancing);
}

.font-caveat {
  font-family: var(--font-caveat);
}

* {
  box-sizing: border-box;
}
